---
import './contribuidores.css'
---

<article class="article__contribuidores">
    <section class="contribuidores">
        <div class="container__contribuidores">
            <p class="text__contribuidores">contribuidores</p>
            <div class="center__contribuidores">
                <img src="/public/socios/axel.jpeg" alt="axel ibarrola">
                <img src="/public/socios/angel.png" alt="angel saucedo">
                <img src="/public/socios/jorge.png" alt="jorge cañete">
            </div>
        </div>
    </section>
</article>