---
import './hero.css';
---

<header class="container__header">
    <section class="section__header">

        <div class="section__header__line">
            <p class="section__header__pretitulo">Tech | Innovación</p>
            <h1 class="section__header__titulo">DELOSCODE</h1>
            <p class="section__header__parrafo">
                Somos estudiantes de la Universidad Nacional de José Clemente Paz (UNPAZ) unidos por la tecnología. Fusionamos aprendizaje académico con proyectos prácticos para desarrollar soluciones digitales.
            </p>
            <div class="section__header__contactos">
                <address>saucedo@deloscode.com</address>
            </div>
        </div>
    </section>
    <div class="corte__header"> </div>
</header>