---

import '../styles/components/hero.css';

---

<header class="container__header">
    <section class="text__container">

        <div class="text__container__line">
            <p class="text__container__pretitulo">desarrollo full-stack</p>
            <h1 class="text__container__titulo">DELOSCODE</h1>
            <p class="text__container__parrafo">
                organizacion de estudiantes avanzados locura total:<br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed esse autem et blanditiis, sequi deserunt ducimus porro est similique dolore veniam<br>facilis pariatur quae, rem voluptate itaque necessitatibus quam reiciendis.
            </p>
            <div class="text__container__contactos">
                <a href="#">Organizacion</a>
                <address>saucedo@deloscode.com</address>
            </div>
        
        </div>
    </section>
</header>