---

import '../styles/components/hero.css';

---

<header class="container__header">
    <section class="section__header">

        <div class="section__header__line">
            <p class="section__header__pretitulo">desarrollo full-stack</p>
            <h1 class="section__header__titulo">DELOSCODE</h1>
            <p class="section__header__parrafo">
                organizacion de estudiantes avanzados locura total:<br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed esse autem et blanditiis, sequi deserunt ducimus porro est similique dolore veniam<br>facilis pariatur quae, rem voluptate itaque necessitatibus quam reiciendis.
            </p>
            <div class="section__header__contactos">
                <a href="#" class="organizacion__btn">
                    <div class="organizacion__circulo__btn"> </div>
                    <p class="organizacion__txt_btn">organizacion</p>
                </a>
                <address>saucedo@deloscode.com</address>
            </div>
        
        </div>
    </section>
    <div class="corte__header"> </div>
</header>