---
---

<header class="header">
    <div class="titulo">
        <h5>pagina en mantenimiento</h5>
        <h1 class="texto-degradado">deloscode</h1>
        <div class="btn-container"><a class="btn" href="https://github.com/DelosCode">mas info</a></div>
    </div>
</header>

<style>
    .texto-degradado {
        background: linear-gradient(rgb(1, 36, 102), rgb(96, 96, 183));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    body{
        background-color: #c3f3ff;
        height: 100vh;
        width: 100%;

    }
    .header{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-containter {
        margin: 2em 0;
    }
    .titulo {
        margin: auto;
    }
    .titulo h1, .titulo h5{
        margin: 0;
        
    }
    .titulo h1 {
        font-size: 5em;
        letter-spacing: 0.3em;
    }
    .titulo h5 {
        font-size: 1.5em;
    }
    .btn {
        background-color: black;
        color: white;
        font-size: 1.5em;
        padding: 0 2em;
        
        text-decoration: none;
        transition: all 0.5s ease-out;
    }

    .btn:hover {
        opacity: 0.7;
        border: rgb(0, 0, 0) 1px solid;
    }
</style>