---

---

<div
    class="fixed bottom-0 sm:top-0 left-1/2 -translate-x-1/2 z-50 mb-6 sm:pt-6"
>
    <div
        class="flex items-center gap-3 bg-background/5 border border-border backdrop-blur py-1 px-1 rounded-full shadow-lg bg-bg-nav"
    >
        <a
            class="relative cursor-pointer text-sm font-semibold px-6 py-2 rounded-full transition-colors text-foreground/80 hover:text-primary"
            href="#"
        >
            <span class="text-lg">hola</span>
        </a>
        <a
            class="relative cursor-pointer text-sm font-semibold px-6 py-2 rounded-full transition-colors text-foreground/80 hover:text-primary"
            href="#"
        >
            <span class="text-lg">hola</span>
        </a>
        <!-- <a
            class="relative cursor-pointer text-sm font-semibold px-6 py-2 rounded-full transition-colors text-foreground/80 hover:text-primary"
            href="#"
        >
            <span class="text-lg">hola</span>
        </a>
        <a
            class="relative cursor-pointer text-sm font-semibold px-6 py-2 rounded-full transition-colors text-foreground/80 hover:text-primary"
            href="#"
        >
            <span class="text-lg">hola</span>
        </a> -->
    </div>
</div>
