---

---

<nav class="nav__container">
    <div class="nav__logoname">
        <a class="nav__logoname--title" href="#">DELOSCODE</a>
    </div>
    <ul class="nav__sections">
        <li class="nav__sections__item">
            <a class="nav__sections__item__a nav__sections__item__a--inicio" href="#">Inicio</a></li>
        <li class="nav__sections__item">
            <a class="nav__sections__item__a" href="#">Contribuidores</a></li>
        <li class="nav__sections__item">
            <a class="nav__sections__item__a" href="#">Sobre nosotros</a></li>
    </ul>
</nav>